<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1> List of all teams:</h1>
<table width = "50%" th:if="${teams} != null">
    <tr><th>Team (Country)</th><th>Continent</th><th>Played</th><th>Won</th><th>Drawn</th><th>Lost</th><th>Pts</th></tr>
    <tr th:each="s: ${teams}">
        <td th:text="${s.teamName}">Frank</td>
        <td th:text="${s.continent}">Frank</td>
        <td th:text="${s.gamesPlayed}">1000</td>
        <td th:text="${s.gamesWon}">1000</td>
        <td th:text="${s.gamesDrawn}">1000</td>
        <td th:text="${s.gamesLost}">1000</td>
        <td th:text="${s.points}">1000</td>
    </tr>
</table>
<form th:action="@{/insertTeam}" th:object="${team}">
    <input type="hidden" th:field="*{id}">
    Name: <input type="text" th:field="*{teamName}"><br>
    continent: <input type="text" th:field="*{continent}"><br>
    gamesPlayed: <input type="text" th:field="*{gamesPlayed}"><br>
    gamesWon: <input type="text" th:field="*{gamesWon}"><br>
    gamesDrawn: <input type="text" th:field="*{gamesDrawn}"><br>
    gamesLost: <input type="text" th:field="*{gamesLost}"><br>
    points: <input type="text" th:field="*{points}"><br>
    <button type="submit">Add Team</button>
</form>
</body>
</html>