<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{~/css1/style.css}">
</head>
<body>
<header>
    <table>
        <tr>
            <td th:insert="supplement.html :: span.SheridanLogo"></td>
            <td class="fragment" th:insert="supplement.html :: header"></td>
        </tr>
    </table>
    <a th:href="@{/addTeam}">Add Team</a>
    <a th:href="@{/editTeam}">Edit Team</a>
    <a th:href="@{/display}">Display</a>
    <a th:href="@{/index}">Main Page</a>
</header>
<h1> List of all teams:</h1>
<table id="myTable" width = "50%" th:if="${teams} != null">
    <tr><th>Team (Country)</th><th>Continent</th><th>Played</th><th>Won</th><th>Drawn</th><th>Lost</th><th>Pts</th></tr>
    <tr th:each="s: ${teams}">
        <td th:text="${s.teamName}">Frank</td>
        <td th:text="${s.continent}">Frank</td>
        <td th:text="${s.gamesPlayed}">1000</td>
        <td th:text="${s.gamesWon}">1000</td>
        <td th:text="${s.gamesDrawn}">1000</td>
        <td th:text="${s.gamesLost}">1000</td>
        <td th:text="${s.points}">1000</td>
        <td><a th:href="@{'/deleteTeamById/' + ${s.id}} " th:onclick="return confirm
        ('Are you sure you want to delete this team?')">DELETE</a></td>
    </tr>
</table>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for teams.." title="Type in a team">
<script>
    function myFunction() {
        var td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<footer th:replace="supplement.html :: footer"></footer>
</body>
</html>