<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{~/css1/style.css}">
</head>
<body>
<h1> List of all teams:</h1>
<table width = "50%" th:if="${teams} != null">
    <tr><th>Team (Country)</th><th>Continent</th><th>Played</th><th>Won</th><th>Drawn</th><th>Lost</th><th>Pts</th></tr>
    <tr th:each="s: ${teams}">
        <td th:text="${s.teamName}">Frank</td>
        <td th:text="${s.continent}">Frank</td>
        <td th:text="${s.gamesPlayed}">1000</td>
        <td th:text="${s.gamesWon}">1000</td>
        <td th:text="${s.gamesDrawn}">1000</td>
        <td th:text="${s.gamesLost}">1000</td>
        <td th:text="${s.points}">1000</td>
    </tr>
</table>
<form th:action="@{/index}" th:object="${team}">
    <button type="submit">Main Page</button>
</form>
</body>
</html>