<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{~/css1/style.css}">
</head>
<body>
<header>
    <table>
        <tr>
            <td th:insert="supplement.html :: span.SheridanLogo"></td>
            <td class="fragment" th:insert="supplement.html :: header"></td>
        </tr>
    </table>
    <a th:href="@{/addTeam}">Add Team</a>
    <a th:href="@{/deleteTeam}">Delete Team</a>
    <a th:href="@{/display}">Display</a>
    <a th:href="@{/index}">Main Page</a>
</header>
<h1> List of all teams:</h1>
<table id="myTable"width = "50%" th:if="${teams} != null">
    <tr><th>Team (Country)</th><th>Continent</th><th>Played</th><th>Won</th><th>Drawn</th><th>Lost</th><th>Pts</th></tr>
    <tr th:each="s: ${teams}">
        <td th:text="${s.teamName}">Frank</td>
        <td th:text="${s.continent}">Frank</td>
        <td th:text="${s.gamesPlayed}">1000</td>
        <td th:text="${s.gamesWon}">1000</td>
        <td th:text="${s.gamesDrawn}">1000</td>
        <td th:text="${s.gamesLost}">1000</td>
        <td th:text="${s.points}">1000</td>
        <td><a th:href="@{'/editTeamById/' + ${s.id}}">EDIT</a></td>
    </tr>
</table>
<form th:action="@{/updateTeam}" th:object="${team}">
    <input type="hidden" th:field="*{id}">
    Name: <input type="text" th:field="*{teamName}"><br>
    continent: <input type="text" th:field="*{continent}"><br>
    gamesPlayed: <input type="text" th:field="*{gamesPlayed}"><br>
    gamesWon: <input type="text" th:field="*{gamesWon}"><br>
    gamesDrawn: <input type="text" th:field="*{gamesDrawn}"><br>
    gamesLost: <input type="text" th:field="*{gamesLost}"><br>
<!--    points: <input type="text" th:field="*{points}"><br>-->
    <input type="submit">
</form>
<footer th:replace="supplement.html :: footer"></footer>
</body>
</html>